@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	@* Simpel slieshow - Begins in 3, 2, 1... GO *@

	var root = Model.Content.AncestorOrSelf(1);

	string slideshowImages = root.GetPropertyValue<string>("simpelSlideshow");

	if (!String.IsNullOrEmpty(slideshowImages))
	{
		<div class="simpel-slideshow">
			<ul>
				@foreach (string image in slideshowImages.Split(','))
				{
					var media = Umbraco.TypedMedia(image);

					<li style="background-image: url(@media.Url);">
						<h1>Fluid, flexible, fantastically minimal.</h1>
						<p>Use any HTML in your slides, extend with CSS. You have full control.</p>

						<a class="btn" href="#download">Download</a>
					</li>
				}
			</ul>
		</div>
	}
}