<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBaseContainer ANY>
<!ATTLIST uBlogsyBaseContainer id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsyAuthor ANY>
<!ATTLIST uBlogsyAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerAuthor ANY>
<!ATTLIST uBlogsyContainerAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerEmailTemplate ANY>
<!ATTLIST uBlogsyContainerEmailTemplate id ID #REQUIRED>
<!ELEMENT uBlogsyContainerLabel ANY>
<!ATTLIST uBlogsyContainerLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLabel ANY>
<!ATTLIST uBlogsyLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>
<!ELEMENT uBlogsySiteRoot ANY>
<!ATTLIST uBlogsySiteRoot id ID #REQUIRED>
<!ELEMENT uDateFoldersyBase ANY>
<!ATTLIST uDateFoldersyBase id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderDay ANY>
<!ATTLIST uDateFoldersyFolderDay id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderMonth ANY>
<!ATTLIST uDateFoldersyFolderMonth id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderYear ANY>
<!ATTLIST uDateFoldersyFolderYear id ID #REQUIRED>
<!ELEMENT uTagsyBaseDocType ANY>
<!ATTLIST uTagsyBaseDocType id ID #REQUIRED>
<!ELEMENT uTagsyTag ANY>
<!ATTLIST uTagsyTag id ID #REQUIRED>
<!ELEMENT uTagsyTagContainer ANY>
<!ATTLIST uTagsyTagContainer id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Item ANY>
<!ATTLIST Item id ID #REQUIRED>
<!ELEMENT ItemFolder ANY>
<!ATTLIST ItemFolder id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT NewsFolder ANY>
<!ATTLIST NewsFolder id ID #REQUIRED>
<!ELEMENT NewsPage ANY>
<!ATTLIST NewsPage id ID #REQUIRED>
<!ELEMENT SearchPage ANY>
<!ATTLIST SearchPage id ID #REQUIRED>
<!ELEMENT SettingsAndGeneralFunctions ANY>
<!ATTLIST SettingsAndGeneralFunctions id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
<!ELEMENT System ANY>
<!ATTLIST System id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:02" updateDate="2013-11-24T20:25:45" nodeName="Umbraco 7 Boilerplate - Mirror" urlName="umbraco-7-boilerplate-mirror" path="-1,1056" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="HomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideInListning>0</hideInListning>
    <pageHeading><![CDATA[Umbraco 7 Boilerplate - Mirror]]></pageHeading>
    <pageImage>1064</pageImage>
    <pageContent><![CDATA[<p><span>Etiam scelerisque porttitor massa in aliquet. Nullam justo dolor, convallis id est ut, viverra mattis sem. Etiam ante sem, dignissim sed lectus non, commodo convallis lorem. Ut ultrices elementum sapien, et dignissim ligula bibendum molestie. Vestibulum diam tellus, imperdiet ac aliquet vitae, tincidunt non felis. Pellentesque rhoncus lorem quis felis volutpat ornare. Curabitur vestibulum ante lectus, at malesuada odio elementum non. </span></p>
<p><span>Maecenas elementum condimentum arcu, in tristique augue luctus at.</span></p>]]></pageContent>
    <pageIntroduction><![CDATA[Etiam scelerisque porttitor massa in aliquet. Nullam justo dolor, convallis id est ut, viverra mattis sem. Etiam ante sem, dignissim sed lectus non, commodo convallis lorem. Ut ultrices elementum sapien, et dignissim ligula bibendum molestie.]]></pageIntroduction>
    <siteTitle><![CDATA[Umbraco 7 Boilerplate - Mirror]]></siteTitle>
    <simpelSlideshow><![CDATA[1062,1063,1064]]></simpelSlideshow>
    <logotype />
    <searchPage>1072</searchPage>
    <newsPage>1075</newsPage>
    <contactPage>1074</contactPage>
    <promotePagesMain><![CDATA[1084,1119,1121]]></promotePagesMain>
    <standardPage id="1057" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:22" updateDate="2013-11-21T19:56:06" nodeName="About" urlName="about" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="standardPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading><![CDATA[About us]]></pageHeading>
      <pageIntroduction />
      <pageImage />
      <pageContent />
    </standardPage>
    <standardPage id="1066" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2013-11-24T14:00:43" updateDate="2013-11-24T16:14:04" nodeName="We at Mirror" urlName="we-at-mirror" path="-1,1056,1066" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="standardPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading />
      <pageIntroduction />
      <pageImage />
      <pageContent />
    </standardPage>
    <NewsFolder id="1075" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2013-11-24T16:13:49" updateDate="2013-11-24T16:14:04" nodeName="Latest news" urlName="latest-news" path="-1,1056,1075" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="NewsFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
    </NewsFolder>
    <SearchPage id="1072" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2013-11-24T16:06:20" updateDate="2013-11-24T16:06:20" nodeName="Search" urlName="search" path="-1,1056,1072" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SearchPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
    </SearchPage>
    <ContactPage id="1074" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2013-11-24T16:12:43" updateDate="2013-11-24T16:14:04" nodeName="Contact us" urlName="contact-us" path="-1,1056,1074" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading />
      <pageImage />
      <pageIntroduction />
      <pageContent />
    </ContactPage>
  </HomePage>
  <System id="1078" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-11-24T18:53:21" updateDate="2013-11-24T18:53:21" nodeName="System" urlName="system" path="-1,1078" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="System">
    <ItemFolder id="1079" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2013-11-24T18:56:33" updateDate="2013-11-24T18:56:33" nodeName="Promote items" urlName="promote-items" path="-1,1078,1079" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ItemFolder">
      <Item id="1084" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2013-11-24T19:01:49" updateDate="2013-11-24T20:24:40" nodeName="Our Services" urlName="our-services" path="-1,1078,1079,1084" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Item">
        <listHeading><![CDATA[Our Services]]></listHeading>
        <listImage>1082</listImage>
        <listIntroduction><![CDATA[Ut ultrices elementum sapien, et dignissim ligula bibendum molestie. Vestibulum diam tellus, imperdiet ac aliquet vitae, tincidunt non felis.]]></listIntroduction>
        <listDate>2013-11-30T00:00:00</listDate>
        <listIcon><![CDATA[1087]]></listIcon>
        <listLink><![CDATA[[]]]></listLink>
      </Item>
      <Item id="1119" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2013-11-24T19:34:57" updateDate="2013-11-24T20:24:26" nodeName="We at Mirror" urlName="we-at-mirror" path="-1,1078,1079,1119" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Item">
        <listHeading><![CDATA[We at Mirror]]></listHeading>
        <listImage />
        <listIntroduction><![CDATA[Etiam scelerisque porttitor massa in aliquet. Nullam justo dolor, convallis id est ut, viverra mattis sem. Etiam ante sem, dignissim sed lectus non, commodo convallis lorem.]]></listIntroduction>
        <listDate>2013-11-26T00:00:00</listDate>
        <listIcon><![CDATA[1091]]></listIcon>
        <listLink><![CDATA[[]]]></listLink>
      </Item>
      <Item id="1121" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2013-11-24T20:25:30" updateDate="2013-11-24T20:25:30" nodeName="Contact us" urlName="contact-us" path="-1,1078,1079,1121" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Item">
        <listHeading><![CDATA[Contact us]]></listHeading>
        <listImage />
        <listIntroduction><![CDATA[Pellentesque purus justo, hendrerit id cursus id, blandit sed metus. Aenean neque dui, cursus in nibh et, euismod tincidunt libero.]]></listIntroduction>
        <listDate />
        <listIcon><![CDATA[1099]]></listIcon>
        <listLink><![CDATA[[]]]></listLink>
      </Item>
    </ItemFolder>
  </System>
  <uBlogsySiteRoot id="1155" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:35:02" nodeName="Sample Site Root" urlName="sample-site-root" path="-1,1155" isDoc="" nodeType="1146" creatorName="admin" writerName="admin" writerID="0" template="1132" nodeTypeAlias="uBlogsySiteRoot">
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoRedirect />
    <umbracoInternalRedirectId />
    <umbracoUrlName />
    <umbracoUrlAlias />
    <uBlogsyContentTitle><![CDATA[My Site]]></uBlogsyContentTitle>
    <uBlogsyContentSummary />
    <uBlogsyContentBody><![CDATA[<p>This is an example home page. </p>
<p>From uBlogsy 3.0, the package is now a site (with basic pages) which has a blog (not a blog which has pages).</p>
<p>Below on this page you will see a widget (/Views/uBlogsy/Widgets/uBlogsyWidgetListPostsForHome.cshtml) which lists latest news. The purpose of the widget is to list news for the home page. Your home page will typically be the parent of the uBlogsyLanding node, or a sibling.</p>
<p>Take a look at /Views/uBlogsySiteHome.cshtml</p>
<p> </p>
<p> </p>]]></uBlogsyContentBody>
    <uBlogsySeoTitle />
    <uBlogsySeoKeywords />
    <uBlogsySeoDescription />
    <uBlogsyNavigationTitle />
    <uBlogsyLanding id="1156" parentID="1155" level="2" creatorID="0" sortOrder="0" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:54:31" nodeName="Blog" urlName="blog" path="-1,1155,1156" isDoc="" nodeType="1142" creatorName="admin" writerName="admin" writerID="0" template="1128" nodeTypeAlias="uBlogsyLanding">
      <uBlogsyRSS id="1161" parentID="1156" level="3" creatorID="0" sortOrder="2" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:35:02" nodeName="RSS" urlName="rss" path="-1,1155,1156,1161" isDoc="" nodeType="1145" creatorName="admin" writerName="admin" writerID="0" template="1131" nodeTypeAlias="uBlogsyRSS">
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoInternalRedirectId />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <uBlogsyRssTitle><![CDATA[My Blog]]></uBlogsyRssTitle>
        <uBlogsyRssDescription><![CDATA[Blog Description]]></uBlogsyRssDescription>
        <uBlogsyRssCopyright><![CDATA[Copyright @AnthonyDotNet]]></uBlogsyRssCopyright>
      </uBlogsyRSS>
      <uDateFoldersyFolderYear id="1164" parentID="1156" level="3" creatorID="0" sortOrder="4" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:35:02" nodeName="2013" urlName="2013" path="-1,1155,1156,1164" isDoc="" nodeType="1150" creatorName="admin" writerName="admin" writerID="0" template="1133" nodeTypeAlias="uDateFoldersyFolderYear">
        <uDateFoldersyFolderMonth id="1165" parentID="1164" level="4" creatorID="0" sortOrder="0" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:35:02" nodeName="September" urlName="september" path="-1,1155,1156,1164,1165" isDoc="" nodeType="1149" creatorName="admin" writerName="admin" writerID="0" template="1133" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1166" parentID="1165" level="5" creatorID="0" sortOrder="0" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:35:02" nodeName="26" urlName="26" path="-1,1155,1156,1164,1165,1166" isDoc="" nodeType="1148" creatorName="admin" writerName="admin" writerID="0" template="1133" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1167" parentID="1166" level="6" creatorID="0" sortOrder="0" createDate="2013-12-08T15:33:00" updateDate="2013-12-08T15:39:55" nodeName="New Post" urlName="new-post" path="-1,1155,1156,1164,1165,1166,1167" isDoc="" nodeType="1144" creatorName="admin" writerName="admin" writerID="0" template="1130" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <umbracoRedirect />
              <umbracoInternalRedirectId />
              <umbracoUrlName />
              <umbracoUrlAlias />
              <uBlogsyContentTitle><![CDATA[New Post]]></uBlogsyContentTitle>
              <uBlogsyContentSummary><![CDATA[sdf]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p>asdf</p>]]></uBlogsyContentBody>
              <uBlogsySeoTitle />
              <uBlogsySeoKeywords />
              <uBlogsySeoDescription />
              <uBlogsyNavigationTitle><![CDATA[New Post]]></uBlogsyNavigationTitle>
              <uBlogsyPostImage />
              <uBlogsyPostDate>2013-09-26T12:32:00</uBlogsyPostDate>
              <uBlogsyPostTags />
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
          </uDateFoldersyFolderDay>
        </uDateFoldersyFolderMonth>
      </uDateFoldersyFolderYear>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoRedirect />
      <umbracoInternalRedirectId />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <uBlogsyContentTitle><![CDATA[Blog]]></uBlogsyContentTitle>
      <uBlogsyContentSummary />
      <uBlogsyContentBody />
      <uBlogsySeoTitle />
      <uBlogsySeoKeywords><![CDATA[Keywords]]></uBlogsySeoKeywords>
      <uBlogsySeoDescription><![CDATA[Description]]></uBlogsySeoDescription>
      <uBlogsyNavigationTitle><![CDATA[Blogg]]></uBlogsyNavigationTitle>
      <uBlogsyGeneralUseSummary>1</uBlogsyGeneralUseSummary>
      <uBlogsyGeneralShowSocialMedia>0</uBlogsyGeneralShowSocialMedia>
      <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
      <uBlogsyBlogLinks />
    </uBlogsyLanding>
  </uBlogsySiteRoot>
</root>