<!DOCTYPE root[<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT SettingsAndGeneralFunctions ANY>
<!ATTLIST SettingsAndGeneralFunctions id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:02" updateDate="2013-11-21T19:58:13" nodeName="Umbraco 7 Boilerplate - Mirror" urlName="umbraco-7-boilerplate-mirror" path="-1,1056" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="HomePage">
    <ContentPage id="1057" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:22" updateDate="2013-11-21T19:56:06" nodeName="About" urlName="about" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="ContentPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading><![CDATA[About us]]></pageHeading>
      <pageIntroduction />
      <pageImage />
      <pageContent />
    </ContentPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideInListning>0</hideInListning>
    <pageHeading><![CDATA[Umbraco 7 Boilerplate - Mirror]]></pageHeading>
    <pageImage />
    <pageContent />
    <pageIntroduction />
    <siteTitle><![CDATA[Umbraco 7 Boilerplate - Mirror]]></siteTitle>
  </HomePage>
</root>