<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT NewsFolder ANY>
<!ATTLIST NewsFolder id ID #REQUIRED>
<!ELEMENT NewsPage ANY>
<!ATTLIST NewsPage id ID #REQUIRED>
<!ELEMENT SearchPage ANY>
<!ATTLIST SearchPage id ID #REQUIRED>
<!ELEMENT SettingsAndGeneralFunctions ANY>
<!ATTLIST SettingsAndGeneralFunctions id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
<!ELEMENT System ANY>
<!ATTLIST System id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:02" updateDate="2013-11-24T16:14:40" nodeName="Umbraco 7 Boilerplate - Mirror" urlName="umbraco-7-boilerplate-mirror" path="-1,1056" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="HomePage">
    <standardPage id="1057" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2013-11-21T19:47:22" updateDate="2013-11-21T19:56:06" nodeName="About" urlName="about" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="standardPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading><![CDATA[About us]]></pageHeading>
      <pageIntroduction />
      <pageImage />
      <pageContent />
    </standardPage>
    <standardPage id="1066" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2013-11-24T14:00:43" updateDate="2013-11-24T16:14:04" nodeName="We at Mirror" urlName="we-at-mirror" path="-1,1056,1066" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="standardPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading />
      <pageIntroduction />
      <pageImage />
      <pageContent />
    </standardPage>
    <NewsFolder id="1075" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2013-11-24T16:13:49" updateDate="2013-11-24T16:14:04" nodeName="Latest news" urlName="latest-news" path="-1,1056,1075" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="NewsFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
    </NewsFolder>
    <SearchPage id="1072" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2013-11-24T16:06:20" updateDate="2013-11-24T16:06:20" nodeName="Search" urlName="search" path="-1,1056,1072" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SearchPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
    </SearchPage>
    <ContactPage id="1074" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2013-11-24T16:12:43" updateDate="2013-11-24T16:14:04" nodeName="Contact us" urlName="contact-us" path="-1,1056,1074" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInListning>0</hideInListning>
      <listHeading />
      <listIntroduction />
      <listImage />
      <listDate />
      <menuTitle />
      <cssClass />
      <listChildren>0</listChildren>
      <listFromNode />
      <imageGallery />
      <pageHeading />
      <pageImage />
      <pageIntroduction />
      <pageContent />
    </ContactPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideInListning>0</hideInListning>
    <pageHeading><![CDATA[Umbraco 7 Boilerplate - Mirror]]></pageHeading>
    <pageImage />
    <pageContent />
    <pageIntroduction />
    <siteTitle><![CDATA[Umbraco 7 Boilerplate - Mirror]]></siteTitle>
    <simpelSlideshow><![CDATA[1062,1063,1064]]></simpelSlideshow>
    <logotype />
    <searchPage>1072</searchPage>
    <newsPage>1075</newsPage>
    <contactPage>1074</contactPage>
  </HomePage>
</root>