@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
}

@Html.Partial("EditorContent")

@section PromotePages{
	<section class="site-extra promote-pages-main">
		<div class="container">
			@Html.Partial("PromotePagesMain")
		</div>
	</section>
}
