@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <title>@Model.Content.Name</title>
	<link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
	<header>
		@Html.Partial("_Navigation")
	</header>

	<section>
		@Html.Partial("_SimpelSlideshow")
	</section>

	<main>
		@RenderBody()
	</main>

	<footer>

	</footer>

	<script src="~/scripts/jquery-2.0.3.js"></script>
	<script src="~/scripts/bootstrap.min.js"></script>
	<script src="~/scripts/less-1.4.2.js"></script>
	<script src="~/scripts/unislide.js"></script>
</body>
</html>