@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <title>@Model.Content.Name</title>
</head>
<body>
	<header>
		@Html.Partial("_Navigation")
	</header>

	<section>
		@Html.Partial("_SimpelSlideshow")
	</section>

	<main>
		@RenderBody()
	</main>

	<footer>

	</footer>
</body>
</html>